PORT=3000

KASPI_REFERRED_HOST=https://testhost.com
KASPI_SERVICE_ID=123456
KASPI_PAYMENT_URL=https://kaspi.kz
KASPI_REDIRECT_URL=http://localhost:3000/test

DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_DRIVER=postgres
DB_PASSWORD=postgres
DB_NAME=postgres