TCP_PORT=4000
HTTP_PORT=3000

ENV="test"

DB_HOST=localhost
DB_PORT=5432
DB_USER=jetinno
DB_DRIVER=postgres
DB_PASSWORD=jetinno
DB_NAME=jetinno

KASPI_QR_URL=

KASPI_LOGIN=
KASPI_PASSWORD=
KASPI_REFUND_URL=
REFUND_TIME=
